<?xml version="1.0" ?>
<model>
    <name>tool_rack</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ron Freimann</name>
        <email>ronnyBravo32@proton.me</email>
    </author>
    <description>
    Tool rack model for holding and organizing various endtools.
    </description>
</model>