<?xml version="1.0" encoding="UTF-8"?>
<tool_mount xmlns:xacro="http://wiki.ros.org/xacro">

<xacro:macro name="tool_mount" params="
    parent:=station
    link_name:=tool_mount_link
    reason:=Adjacent
    ">
    <disable_collisions link1="${link_name}" link2="${parent}" reason="${reason}" />
  </xacro:macro>

</tool_mount>